body {
    background:#fff;
    font-family: 'roboto', sans-serif;
}

input {
  border: 1px solid #c9c4c4;
  padding: 10px 14px;
  background: white;
}

table td {
    padding: 10px;
}

button {
    background: yellow;
    color: #000;
    padding: 15px;
    border: none;
}
